* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-family: "Raleway", sans-serif;
}

a {
    color: grey;
}

section.landing {
    width: 100%;
    height: 711px;
    background-color: lightsalmon;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}



aside {
    float: left;
    background-color: white;
    height: 711px;
    width: 5rem;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;


}

.navIcons {
    height: 400px;
}

.navIcons ul {
    height: 400px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;

}

.navIcons ul li {
    justify-content: space-evenly;
}

#logout {
    height: calc(650px - 400px);
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

#logout svg {
    color: grey;
    margin-right: 10px;
}

.activity {
    width: 100%;
    display: flex;
}

.taskDashboard {
    width: 100%;
    height: 711px;
}


.tasks {
    width: 100%;
    height: 650px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

header {
    margin: 15px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}

header h3 {
    font-family: "Raleway", sans-serif;
    font-size: 1.3rem;
}

.user p {
    font-family: "Raleway", sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
}

.search {
    display: flex;
    width: 16.5em;
    background-color: white;
    border-radius: 25px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

form {
    position: relative;
}

.searchBar {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 1em;
}


#searchIcon {
    position: absolute;
    float: left;
    margin: 10px;
    color: black;
    margin-left: 2px;
    margin-bottom: 15px;
    opacity: 0.5;
}



input {
    padding: 10px;
    width: 20em;
    height: 40px;
    border-radius: 25px;
    background-color: transparent;
    text-indent: 30px;
}


.toDo {
    width: calc(90% / 3);
    height: 600px;
    background-color: white;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.toDo p {
    font-size: 1.3rem;
    color: black;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
}

.edit {
    margin: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.edit p {
    color: black;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
    font-size: 1.3rem;
}

.toDoCards li {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Raleway", sans-serif;
    font-size: 5rem;
    color: lightgray;
    margin: 10px;
    margin-left: 15px;
    border-radius: 12px;
    width: 90%;
    height: 150px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.toDoCards li:hover {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}


#drag li {
    font-size: 1.3rem;
    border: 2px dotted lightgrey;
}

.cardAdd {
    background-color: #f2f2f2;
    border-radius: 7px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin: 10px;
    margin-top: 20px;
    margin-left: 30px;
    width: 80%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.cardAdd:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    cursor: pointer;
}

.cardAdd p {
    font-size: 1.3rem;
    color: grey;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
}

.doing {
    width: calc(90% / 3);
    height: 600px;
    background-color: white;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.done {
    width: calc(90% / 3);
    height: 600px;
    background-color: white;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.userDash {
    background-color: white;
    width: 30%;
    height: 711px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}

.userIcons {
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.userIcons svg {
    color: grey;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 100%;
    height: 150px;
}

.profile ul li {
    line-height: 1.8em;
}

.profile ul li span {
    margin-left: 5px;

}

#profilePic {
    height: 5rem;
    width: 5rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 50%;
    background: url(../images/Afterligh\(10\).jpg);
    background-size: cover;
    background-position: center;
}

.progress {
    padding: 3px;
    width: 100%;
}

.progress ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.stats {
    padding: 10px;
    height: 50px;
    width: 100%;
}

.stats ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.stats h5 {
    font-size: 2rem;
}